<h1 class="title">確認画面</h1>
<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">

<div class="wrap">
<%= form_for(@topic) do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>
  <ul>
    <li>タイトル：<%= @topic.title %></li>
    <li>内容：<%= @topic.content %></li>
  </ul>
  <%= f.submit "投稿する", class: 'btn btn-primary' %>
<% end %>

<%= form_for(@topic, url: new_topic_path, method: 'get',) do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>
  <div style="margin-top: 10px;">
    <%= f.submit "もどる", name: 'back' %>
  </div>
<% end %>
</div>

</div>
</div>
</div>
